babel==2.18.0
beautifulsoup4==4.15.0
black==26.5.1
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
courlan==1.4.0
dateparser==1.4.1
feedparser==6.0.12
htmldate==1.10.0
idna==3.18
jusText==3.0.2
lxml==6.1.1
lxml_html_clean==0.4.5
mypy_extensions==1.1.0
packaging==26.2
pathspec==1.1.1
platformdirs==4.10.0
praw==7.8.2
prawcore==2.4.0
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
regex==2026.5.9
requests==2.34.2
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.8.4
tiktoken==0.13.0
tld==0.13.2
trafilatura==2.1.0
typing_extensions==4.15.0
tzlocal==5.4.3
update_checker==1.0.0
urllib3==2.7.0
websocket-client==1.9.0
